$gold-main:        #cc9933;
$green-main:       #578575;
$blue-main:        #334b97;
$blue-x-light:     #dde0e8;
$blue-dark:        #1b2c62;
$gray-main:        #666666;
$gray-alt:         #a3a3a3;
$gray-alt-2:       #cccccc;
$gray-light:       #dcddde;
$gray-mid:         #999999;
$gray-dark:        #333333;