.site-footer {
  background: url('../img/bg-footer-bar.png') no-repeat $gray-dark;
  background-position: right center;
  margin-top: 30px;
  min-height: 275px;
  border-bottom: 25px solid $blue-dark;
  color: white; }